body {
  background-color:pink;
}

h1 {
  color: blue;
}

image_url {
  max-width: 10%;
}

chart {
  background-color: white;
}

#head{
  text-align: center;
  color:‎#F9CCCA;
}

#page {
  text-align: center ;
}

img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  align:middle;
}
